{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "^[^~./]",
    "^~/routes(.*)$",
    "^~/services(.*)$",
    "^~/lib(.*)$",
    "^~/views(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
